<!DOCTYPE html>
<html>
<head>
  <title>myRailsproject</title>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <header>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Good Recipe</a>
    </div>


        <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <%= form_tag(recipes_path, method: "get", id: "search-form", class: "navbar-form navbar-left") do %>
          <div class="form-group">
            <%= text_field_tag :search, params[:search], placeholder: "Search Recipes", class: 'form-control' %>
            <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
            <% end %>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Add Recipe", new_recipe_path%></li>
            <li><%= link_to "#{current_user.email}", current_user%></li>
            <!--         need to create route for show -->
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
        <% else %>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <%= form_tag(recipes_path, method: "get", id: "search-form", class: "navbar-form navbar-left") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search Recipes", class: 'form-control' %>
          <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">

          <li><%= link_to('Sign in', new_user_session_path) %></li>
          <li><%= link_to('Sign up', new_user_registration_path) %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
      <% end %>
    </div><!-- /.container-fluid -->
  </nav>



</header>
<div class="container-fluid">
<div class="container dramatic">
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>
</div>
<br/><br/>
<section class="text-right">
<h3>Hello and welcome to Good Recipe</h3>

  <p class="text-justify"> We’d like to be your online kitchen helper.<br/>  Will you let us?  If so, we’re always here<br/>  for you 24 hours a day seven days per week, <br/> always ready to show and tell you<br/>  how to prepare the most delicious soul food <br/> that’ll ever touch your tongue from this day forward.<br/>  So go ahead, get comfortable, <br/> sit, and look around the website.<br/>  Just take your time as you look around no need to rush.</p>
  <p class="text-justify">We have all of your favorite recipes right here.<br/>   You’ll also be presently surprised <br/> to see that our recipes contain easy-to-follow cooking instructions. <br/>  Even better, quite a few of our recipes come<br/>  with illustrative photographs of the finished dished <br/> so you can really see what the dish will look like on your table.</p>
  <!-- <p class="text-justify">You must know this website is a growing resource <br/> that we update (almost daily) with new recipes <br/> and other food related information that you will find useful.  <br/> That said we invite you to join our community of “Good Recipe” home cooks. </p> -->
</section>

</body>
</html>
